test-data/
__pycache__/
.ipynb_checkpoints/
examples/


# tests
__pycache__/
.pytest_cache/
.coverage

# lab / dev tests
lab/

# demo
demo/autoclass*
demo/nohup.out
demo/*.tsv

# Python package builds
autoclasswrapper.egg-info/
dist/
build/


# local installation of autoclass
autoclass-c
