# vscode
.vscode

test-data/
__pycache__/
.ipynb_checkpoints/
examples/


# tests
__pycache__/
.pytest_cache/
.coverage

# documentation
doc/_build/

# lab / dev tests
lab/

# notebooks
notebooks/autoclass*
notebooks/nohup.out
notebooks/*.tsv

# Python package builds
autoclasswrapper.egg-info/
dist/
build/


# local installation of autoclass
autoclass-c
