[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
numpy = "*"
pandas = "*"
chardet = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
setuptools = "*"
twine = "*"
recommonmark = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx_rtd_theme = "*"
nbsphinx = "*"
bumpversion = "*"
